APIでできること<br />
※カッコ内は必須パラメータ。&shop_id は config.inc.php でデフォルトを指定しているため省略可<br />
<br />
店舗詳細を表示(&shop_id)<br />
スタッフ一覧を表示(&shop_id)<br />
スタッフ詳細を表示(&staff_id)<br />
口コミ一覧を表示(&shop_id)<br />
口コミ詳細を表示(&shop_id, &review_id)<br />
口コミテーマ一覧を表示(&shop_id, &is_all, &page_number)<br />
クーポン一覧を表示(&shop_id)<br />
クーポンカテゴリ一覧を表示(&shop_id)<br />
クーポン一覧を表示(&shop_id)<br />
メニュー一覧を表示(&shop_id, &staff_id, &menu_kind)<br />
ランク一覧を表示(&shop_id)<br />
予約空き状況を表示(&shop_id, &staff_id, &menu_id, &start_date,end_date)<br />
予約更新履歴を表示(&shop_id, &page_number, &updated_from, &updated_to)<br />
会員情報詳細を表示(&user_id)<br />
ログイン用URL一覧を表示(&shop_id, &redirect_url)<br />
<br />
クーポン新規登録(&shop_id, &coupon_type_id, &title)<br />
クーポン編集(&shop_id, &coupon_id, &coupon_type_id, &title)<br />
クーポン削除(&shop_id, &coupon_id)<br />
<br />
予約新規登録(&shop_id, &staff_id, &menu_id, &start_time, &user_name, &user_email, &user_tel)<br />
予約削除(キャンセル)(&shop_id, &reservation_id)<br />
<br />
新規会員登録(&user_access_key, &user_seed)<br />
<br />
スタッフ認証(MODX管理画面の認証に使うこともできる)(&login_id, &password)<br />
